.une.clearfix.row-fluid.show-grid
  %ul.list_une.span8
    %li.first
      %a.illus{:href => "http://preprod.rue89strasbourg.com/2012/06/06/art-et-histoire-9939"}
        %img.attachment-une.wp-post-image{:alt => "tumblr_m55uo6U0xr1rqxua6o1_500", :height => "340", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/tumblr_m55uo6U0xr1rqxua6o1_500.jpg", :title => "tumblr_m55uo6U0xr1rqxua6o1_500", :width => "403"}/
      %ul.metas.article.inline.clearfix
        %li.author Par Laurent
        %li.date 6 juin 2012
        %li.time 16:20
      %h2.title
        %a.bg89{:href => "http://preprod.rue89strasbourg.com/2012/06/06/art-et-histoire-9939", :title => "ART ET HISTOIRE"} ART ET HISTOIRE
      / Ajouter ou supprimer la classe .bg89 sur la balise <a> pour avoir la couleur de fond ou non
      .bottom
        %p.chapo
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nullam luctus, mauris non suscipit pellentesque, erat
          justo cursus lectus, ac bibendum enim lorem et nisi. Sed at justo quis
          sem dapibus venenatis. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Curabitur tempor placerat
          odio, lobortis pellentesque leo rutrum eget.
        %ul.metas.stats.inline.clearfix
          %li
            %strong 51
            visites
          %li
            %strong 2
            commentaires
    %li.second
      %h3.title
        %a{:href => "http://preprod.rue89strasbourg.com/2012/04/26/qui-fait-la-mode-a-strasbourg-7703", :title => "Qui fait la mode à Strasbourg&nbsp;?"} Qui fait la mode à Strasbourg&nbsp;?
      %ul.metas.article.inline.clearfix
        %li.author Par Sarah Ollivier
        %li.date 26 avril 2012
        %li.time 10:00
      %p.chapo
        Ce week-end, l’association La Mode à Strasbourg
        organisait aux Galeries Lafayette la journée Made in Mode, à la
        découverte des métiers et des personnalités de la mode strasbourgeoise.
        Créatrices, stylistes, rédactrices et talents en tout genre ont présenté
        leur travail lors de conférences et d’ateliers de démonstration.
        Compte-rendu du meilleur de la journée.
      %ul.metas.stats.inline.clearfix
        %li
          %strong 1263
          visites
        %li
          %strong 3
          commentaires
    %li.others.first_type
      %h3.title
        %a.illus{:href => "http://preprod.rue89strasbourg.com/2012/06/07/in-girum-imus-nocte-9955"}
          %img.attachment-mini-thumb.wp-post-image{:alt => "Chemical Agents, Occupy Oakland Move In Day (30 of 31)", :height => "59", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/6782751111_36cdfa3a49_b.jpg", :title => "Chemical Agents, Occupy Oakland Move In Day (30 of 31)", :width => "90"}/
        %a{:href => "http://preprod.rue89strasbourg.com/2012/06/07/in-girum-imus-nocte-9955", :title => "In girum imus nocte…"} In girum imus nocte…
    %li.others
      %h3.title
        %a{:href => "http://preprod.rue89strasbourg.com/2012/06/13/test-graphiques-second-tour-10013", :title => "Test graphiques second tour"} Test graphiques second tour
    %li.others
      %h3.title
        %a.illus{:href => "http://preprod.rue89strasbourg.com/2012/05/21/rue89-strasbourg-lance-son-offre-de-formations-9670"}
          %img.attachment-mini-thumb.wp-post-image{:alt => "formations", :height => "67", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/formations.jpg", :title => "formations", :width => "90"}/
        %a{:href => "http://preprod.rue89strasbourg.com/2012/05/21/rue89-strasbourg-lance-son-offre-de-formations-9670", :title => "Rue89 Strasbourg lance son offre de formations"} Rue89 Strasbourg lance son offre de formations
  :css
    #info_3voix .wrap_elements > ul > li, #info_3voix .wrap_elements {
    margin: 0;
    width: 370px;
    }
  / sidebar
  .sidebar.sidebar_302.span4
    #info_3voix.block
      .title89
        L'info
        %span à
        %strong 3 voix
      .title89.subtitle
        Journalistes, Experts
        %strong &amp; vous
        \!
      .wrap_elements
        %ul.clearfix
          %li.qr
            / Ajouter la classe .long quand la question fait plus de X caractères
            .content
              .title89
                Question
                %span /
                %strong réponse
              %blockquote
                %p Concerts : Hip hop survitaminé sur la scène du Molodoï
            .metas
              %a.btn_appel{:href => "#"} Contribuez
              Question posée par
              %br/
              %a.author{:href => "#"} David JeanJean51
          %li.qr
            / Ajouter la classe .long quand la question fait plus de X caractères
            .content
              .title89
                Question
                %span /
                %strong réponse
              %blockquote
                %p Les 509 salariés de Caddie suspendus à la décision du tribunal
            .metas
              %a.btn_appel{:href => "#"} Contribuez
              Question posée par
              %br/
              %a.author{:href => "#"} David JeanJean51
          %li.qr
            / Ajouter la classe .long quand la question fait plus de X caractères
            .content
              .title89
                Question
                %span /
                %strong réponse
              %blockquote
                %p Coop Alsace : 1,2 million d'euros détournés
            .metas
              %a.btn_appel{:href => "#"} Contribuez
              Question posée par
              %br/
              %a.author{:href => "#"} David JeanJean51
      .wrap_pagination.clearfix
        %ul.pagination.clearfix
          %li
            %a.prev{:href => "#"} &nbsp;
          %li
            %a.actif{:href => "#"} &nbsp;
          %li
            %a{:href => "#"} &nbsp;
          %li
            %a{:href => "#"} &nbsp;
          %li
            %a{:href => "#"} &nbsp;
          %li
            %a{:href => "#"} &nbsp;
          %li
            %a{:href => "#"} &nbsp;
          %li
            %a.next{:href => "#"} &nbsp;
    .pub_300_250
      %img{:src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/pub_300_250.png"}/
      %p Publicité
  / END sidebar

#wrap.row-fluid.show-grid
  #secondary.span2
    / ========================= DEBUT BREVE ======================================
    %aside#les_breves.span12
      %h3.widget-title
        %a{:href => "http://www.rue89strasbourg.com/index.php/category/breve/"}
          En
          %strong Bref
      %ul
        %li.cat-post-item
          %a{:href => "http://preprod.rue89strasbourg.com/2012/06/13/test-graphiques-second-tour-10013", :title => "Test graphiques second tour"} Test graphiques second tour
          %p.post-date 13 juin 2012
        %li.cat-post-item
          %a{:href => "http://preprod.rue89strasbourg.com/2012/06/04/la-piscine-du-wacken-en-plein-travaux-ouvre-le-30-juin-9875", :title => "La piscine du Wacken, en plein travaux, ouvre le 30 juin"} La piscine du Wacken, en plein travaux, ouvre le 30 juin
          %p.post-date 2 juin 2012
        %li.cat-post-item
          %a{:href => "http://preprod.rue89strasbourg.com/2012/06/02/francesca-woodman-retrospective-au-guggenheim-museum-de-new-york-9876", :title => "Francesca Woodman&nbsp;: rétrospective au Guggenheim Museum de New York"} Francesca Woodman&nbsp;: rétrospective au Guggenheim Museum de New York
          %p.post-date 2 juin 2012
        %li.cat-post-item
          %a{:href => "http://preprod.rue89strasbourg.com/2012/06/01/test-de-live-blog-9850", :title => "Test de Live Blog"} Test de Live Blog
          %p.post-date 1 juin 2012
      .textwidget
        %a{:href => "http://preprod.rue89strasbourg.com/index.php/category/breve/", :title => "Voir toutes les brèves"} Toutes les brèves
    / ========================= FIN BREVE ======================================
    / ========================= DEBUT PAVE3  ======================================
    .visible-phone.span12{:id => ""}
      %img{:src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/pub_300_250.png"}/
      %p Publicité
    / ========================= FIN PAVE3  ======================================
    / ========================= DEBUT CONTACT ======================================
    %aside#contact
      .textwidget
        #rue_vous.block
          .title89
            La rue est
            %strong à vous
          .content
            %ul
              %li.video
                %a &nbsp;
              %li.envelop
                %a &nbsp;
              %li.smartphone
                %a &nbsp;
              %li.camera
                %a &nbsp;
            %a.title89{:href => "http://preprod.rue89strasbourg.com/index.php/contact/"}
              %strong Envoyez-nous
              %br/
              %span vos informations
              %br/
              et vos liens préférés
          %a.more{:href => "http://preprod.rue89strasbourg.com/index.php/contact/"} Contactez-Nous !
          %a.more{:href => "http://preprod.rue89strasbourg.com/index.php/contact/"}
            Participer à
            = succeed "rue89Strasbourg" do
              %br/
    / ========================= FIN CONTACT ======================================
    / ========================= DEBUT VIGIE ======================================
    %aside#les_vigies.span12
      %h3.widget-title
        %strong La vigie
        %span Le meilleur
        du web
      %ul
        %li.bas-vigie
          %a{:href => "http://preprod.rue89strasbourg.com/index.php/category/vigie", :title => "Voir toutes les vigies"}
            Voir toutes
            %br>/
            les vigies
    / ========================= FIN VIGIE ======================================
    / ========================= DEBUT PAVE4  ======================================
    .visible-phone.span12{:id => ""}
      %img{:src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/pub_300_250.png"}/
      %p Publicité
    / ========================= FIN PAVE4  ======================================
    / ========================= DEBUT TWITTER ======================================
    %aside#les_twits
      %h3.title89
        %span SUR
        TWITTER
      .textwidget
        %script{:charset => "utf-8", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/widget.js"}
        :javascript
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 30000,
            width: 140,
            height:760,
            theme: {
            shell: {
              background: '#D8D7E5',
              color: '#333'
            },
            tweets: {
              background: '#ffffff',
              color: '#000000',
              links: '#545665'
            }
            },
            features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'all'
            }
          }).render().setUser('rue89strasbourg').start();
                        #twtr-widget-1.twtr-widget.twtr-widget-profile
          .twtr-doc{:style => "width: 150px;"}
            .twtr-hd
              %a.twtr-profile-img-anchor{:href => "https://twitter.com/intent/user?screen_name=rue89strasbourg", :target => "_blank"}
                %img.twtr-profile-img{:alt => "profile", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/rue89logo_200x200_normal.jpg"}/
              %h3 Rue89 Strasbourg
              %h4
                %a{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"} Rue89Strasbourg
            .twtr-bd
              .twtr-timeline{:style => "height: 760px;"}
                .twtr-tweets
                  .twtr-reference-tweet
                  #tweet-id-4.twtr-tweet
                    .twtr-tweet-wrap
                      .twtr-avatar
                        .twtr-img
                          %a{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"}
                            %img{:alt => "Rue89Strasbourg profile", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/rue89logo_200x200_normal.jpg"}/
                      .twtr-tweet-text
                        %p
                          %a.twtr-user{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"} Rue89Strasbourg
                          Le député
                          %a.tweet-url.username{"data-screen-name" => "PhilippeBIES", :href => "http://twitter.com/PhilippeBIES", :target => "_blank"} @PhilippeBIES
                          remplacé par François Buffet comme adjoint de
                          %a.tweet-url.hashtag{:href => "http://twitter.com/search?q=%23Neudorf", :target => "_blank", :title => "#Neudorf"} #Neudorf
                          %a{:href => "http://t.co/0K2WFeHq", :rel => "nofollow", :target => "_blank", :urlentities => "[object Object]"} goo.gl/J1sMr
                          %a.tweet-url.hashtag{:href => "http://twitter.com/search?q=%23Strasbourg", :target => "_blank", :title => "#Strasbourg"} #Strasbourg
                          %em
                            %a.twtr-timestamp{:href => "https://twitter.com/Rue89Strasbourg/status/254272537222074369", :target => "_blank", :time => "Fri Oct 05 17:31:11 +0000 2012"} about 1 hour ago
                            ·
                            %a.twtr-reply{:href => "https://twitter.com/intent/tweet?in_reply_to=254272537222074369", :target => "_blank"} reply
                            ·
                            %a.twtr-rt{:href => "https://twitter.com/intent/retweet?tweet_id=254272537222074369", :target => "_blank"} retweet
                            ·
                            %a.twtr-fav{:href => "https://twitter.com/intent/favorite?tweet_id=254272537222074369", :target => "_blank"} favorite
                  #tweet-id-3.twtr-tweet
                    .twtr-tweet-wrap
                      .twtr-avatar
                        .twtr-img
                          %a{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"}
                            %img{:alt => "Rue89Strasbourg profile", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/rue89logo_200x200_normal.jpg"}/
                      .twtr-tweet-text
                        %p
                          %a.twtr-user{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"} Rue89Strasbourg
                          Ils sont en train de plancher sur le futur de votre site préféré...
                          %a.tweet-url.hashtag{:href => "http://twitter.com/search?q=%23hackSXB", :target => "_blank", :title => "#hackSXB"} #hackSXB
                          %a{:href => "http://t.co/XPwVniFg", :rel => "nofollow", :target => "_blank", :urlentities => "[object Object]"} pic.twitter.com/XPwVniFg
                          %em
                            %a.twtr-timestamp{:href => "https://twitter.com/Rue89Strasbourg/status/254270082153336832", :target => "_blank", :time => "Fri Oct 05 17:21:27 +0000 2012"} about 1 hour ago
                            ·
                            %a.twtr-reply{:href => "https://twitter.com/intent/tweet?in_reply_to=254270082153336832", :target => "_blank"} reply
                            ·
                            %a.twtr-rt{:href => "https://twitter.com/intent/retweet?tweet_id=254270082153336832", :target => "_blank"} retweet
                            ·
                            %a.twtr-fav{:href => "https://twitter.com/intent/favorite?tweet_id=254270082153336832", :target => "_blank"} favorite
                  #tweet-id-2.twtr-tweet
                    .twtr-tweet-wrap
                      .twtr-avatar
                        .twtr-img
                          %a{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"}
                            %img{:alt => "Rue89Strasbourg profile", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/rue89logo_200x200_normal.jpg"}/
                      .twtr-tweet-text
                        %p
                          %a.twtr-user{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"} Rue89Strasbourg
                          %a.tweet-url.hashtag{:href => "http://twitter.com/search?q=%23FF", :target => "_blank", :title => "#FF"} #FF
                          %a.tweet-url.username{"data-screen-name" => "Seh_B", :href => "http://twitter.com/Seh_B", :target => "_blank"} @Seh_B
                          nouvelle stagiaire de la rédaction, et aussi
                          %a.tweet-url.username{"data-screen-name" => "DocArnica", :href => "http://twitter.com/DocArnica", :target => "_blank"} @DocArnica
                          %a.tweet-url.username{"data-screen-name" => "Maitre_Chat", :href => "http://twitter.com/Maitre_Chat", :target => "_blank"} @Maitre_Chat
                          %a.tweet-url.username{"data-screen-name" => "latourex", :href => "http://twitter.com/latourex", :target => "_blank"} @latourex
                          = succeed "..." do
                            %a.tweet-url.username{"data-screen-name" => "extrapoule", :href => "http://twitter.com/extrapoule", :target => "_blank"} @extrapoule
                          %em
                            %a.twtr-timestamp{:href => "https://twitter.com/Rue89Strasbourg/status/254269444078063618", :target => "_blank", :time => "Fri Oct 05 17:18:54 +0000 2012"} about 1 hour ago
                            ·
                            %a.twtr-reply{:href => "https://twitter.com/intent/tweet?in_reply_to=254269444078063618", :target => "_blank"} reply
                            ·
                            %a.twtr-rt{:href => "https://twitter.com/intent/retweet?tweet_id=254269444078063618", :target => "_blank"} retweet
                            ·
                            %a.twtr-fav{:href => "https://twitter.com/intent/favorite?tweet_id=254269444078063618", :target => "_blank"} favorite
                  #tweet-id-1.twtr-tweet
                    .twtr-tweet-wrap
                      .twtr-avatar
                        .twtr-img
                          %a{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"}
                            %img{:alt => "Rue89Strasbourg profile", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/rue89logo_200x200_normal.jpg"}/
                      .twtr-tweet-text
                        %p
                          %a.twtr-user{:href => "https://twitter.com/intent/user?screen_name=Rue89Strasbourg", :target => "_blank"} Rue89Strasbourg
                          La slutwalk, demain place Kléber à
                          %a.tweet-url.hashtag{:href => "http://twitter.com/search?q=%23Strasbourg", :target => "_blank", :title => "#Strasbourg"} #Strasbourg
                          %a{:href => "http://t.co/1ROuipH1", :rel => "nofollow", :target => "_blank", :urlentities => "[object Object]"} goo.gl/rpIZ8
                          Y serez-vous ?
                          %em
                            %a.twtr-timestamp{:href => "https://twitter.com/Rue89Strasbourg/status/254249865285103616", :target => "_blank", :time => "Fri Oct 05 16:01:06 +0000 2012"} 2 hours ago
                            ·
                            %a.twtr-reply{:href => "https://twitter.com/intent/tweet?in_reply_to=254249865285103616", :target => "_blank"} reply
                            ·
                            %a.twtr-rt{:href => "https://twitter.com/intent/retweet?tweet_id=254249865285103616", :target => "_blank"} retweet
                            ·
                            %a.twtr-fav{:href => "https://twitter.com/intent/favorite?tweet_id=254249865285103616", :target => "_blank"} favorite
                  / tweets show here
            .twtr-ft
              %div
                %a{:href => "https://twitter.com/", :target => "_blank"}
                  %img{:alt => "", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/widget-bird.png"}/
                %span
                  %a.twtr-join-conv{:href => "https://twitter.com/rue89strasbourg", :style => "color:#333", :target => "_blank"} Join the conversation
    / ========================= FIN TWITTER  ======================================
  / #secondary .widget-area
  #main.span6
    %ul.list_linear
      %li
        %article#post-10055.inner
          %ul.metas.article.inline.clearfix
            %li.category
              %ul.post-categories
                %li
                  %a{:href => "http://preprod.rue89strasbourg.com/category/culture", :rel => "category tag", :title => "Voir tous les articles dans Culture"} Culture
            %li.time 14:32
            %li.date 12 juillet 2012
            %li.author Par Laurent
          %h3.title
            %a{:href => "http://preprod.rue89strasbourg.com/2012/07/12/un-event-10055", :rel => "bookmark", :title => "Un event"} Un event
          %p.chapo [SINGLEEVENT single_event_id="napoleon-great-army-2-4ffec32b42bf6"]
          %ul.metas.stats.inline.clearfix
            %li Aucun commentaire pour l'instant.
        / end post-10055
      %li
        %article#post-10028.inner
          %ul.metas.article.inline.clearfix
            %li.category
              %ul.post-categories
                %li
                  %a{:href => "http://preprod.rue89strasbourg.com/category/politique", :rel => "category tag", :title => "Voir tous les articles dans Politique"} Politique
            %li.time 15:58
            %li.date 15 juin 2012
            %li.author Par Laurent
          %h3.title
            %a{:href => "http://preprod.rue89strasbourg.com/2012/06/15/test-france-bleu-10028", :rel => "bookmark", :title => "test France bleu"} test France bleu
          %p.chapo
          %ul.metas.stats.inline.clearfix
            %li Aucun commentaire pour l'instant.
        / end post-10028
      %li
      %li
        %article#post-9976.inner
          %ul.metas.article.inline.clearfix
            %li.category
              %ul.post-categories
                %li
                  %a{:href => "http://preprod.rue89strasbourg.com/category/politique", :rel => "category tag", :title => "Voir tous les articles dans Politique"} Politique
            %li.time 23:40
            %li.date 9 juin 2012
            %li.author Par Rue89 Strasbourg
          %h3.title
            %a{:href => "http://preprod.rue89strasbourg.com/2012/06/09/suivez-les-elections-legislatives-a-strasbourg-9976", :rel => "bookmark", :title => "Suivez les élections législatives à Strasbourg"} Suivez les élections législatives à Strasbourg
          %p.chapo
            Pour cette journée électorale, Rue89 Strasbourg se
            met en quatre. Retrouvez dès ce soir à 20h les premières estimations en
            France et les résultats à Strasbourg dès qu’ils sont communiqués par les
            bureaux de vote.
          %ul.metas.stats.inline.clearfix
            %li
              %strong 1
              commentaire
        / end post-9976
      %li
      %li
        %article#post-9949.inner
          %ul.metas.article.inline.clearfix
            %li.category
              %ul.post-categories
                %li
                  %a{:href => "http://preprod.rue89strasbourg.com/category/vie-pratique", :rel => "category tag", :title => "Voir tous les articles dans Vie pratique"} Vie pratique
            %li.time 17:48
            %li.date 6 juin 2012
            %li.author Par vegas-deluxe_compte_admin
          %h3.title
            %a{:href => "http://preprod.rue89strasbourg.com/2012/06/06/terrasses-9949", :rel => "bookmark", :title => "Terrasses"} Terrasses
          %p.chapo
          %ul.metas.stats.inline.clearfix
            %li
              %strong 75
              visites
            %li Aucun commentaire pour l'instant.
        / end post-9949
      %li
      %li
        %article#post-9875.inner
          %ul.metas.article.inline.clearfix
            %li.category
              %ul.post-categories
                %li
                  %a{:href => "http://preprod.rue89strasbourg.com/category/breve", :rel => "category tag", :title => "Voir tous les articles dans Brèves"} Brèves
            %li.time 6:17
            %li.date 4 juin 2012
            %li.author Par Emmanuel Jacob
          %a.illus{:href => "http://preprod.rue89strasbourg.com/2012/06/04/la-piscine-du-wacken-en-plein-travaux-ouvre-le-30-juin-9875"}
            %img.attachment-fleuve-thumb.wp-post-image{:alt => "wacken_piscine_une", :height => "145", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/wacken_piscine_une-786x200.jpg", :title => "wacken_piscine_une", :width => "570"}/
          %h3.title
            %a{:href => "http://preprod.rue89strasbourg.com/2012/06/04/la-piscine-du-wacken-en-plein-travaux-ouvre-le-30-juin-9875", :rel => "bookmark", :title => "La piscine du Wacken, en plein travaux, ouvre le 30 juin"} La piscine du Wacken, en plein travaux, ouvre le 30 juin
          %p.chapo
            Les travaux d’aménagement de la piscine du Wacken
            battent leur plein.Pourtant à partir du 30 juin la piscine sera ouverte
            au public.
          %ul.metas.stats.inline.clearfix
            %li
              %strong 12
              visites
            %li Aucun commentaire pour l'instant.
        / end post-9875
    .navigation-paginate
      %ol.wp-paginate
        %li
          %span.title Pages:
        %li
          %span.page.current 1
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/2", :title => "2"} 2
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/3", :title => "3"} 3
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/4", :title => "4"} 4
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/5", :title => "5"} 5
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/6", :title => "6"} 6
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/7", :title => "7"} 7
        %li
          %span.gap ...
        %li
          %a.page{:href => "http://preprod.rue89strasbourg.com/page/40", :title => "40"} 40
        %li
          %a.next{:href => "http://preprod.rue89strasbourg.com/page/2"} »
  / end content
  / ========================= DEBUT PAVE2  ======================================
  #pub_2_phone.visible-phone.span12
    %img{:src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/pub_300_250.png"}/
    %p Publicité
  / ========================= FIN PAVE2  ======================================
  #sidebar_right.sidebar.sidebar_302.span4{:role => "complementary"}
    :css
      #rotative .wrap_elements > ul > li {
          width: 370px;
      }
      #rotative .wrap_elements {
          margin: 0;
          width: 370px;
          height:500px;
          overflow:hidden;
      }
      / ROTATIVE
    #rotative.block
      %ul.pagination.pages.top
        %li
          %a{:href => "#"} 1
        %li
          %a.actif{:href => "#"} 2
        %li
          %a{:href => "#"} 3
        %li
          %a{:href => "#"} 4
        %li
          %a{:href => "#"} 5
      .wrap_elements
        %ul
          %li
            .block.article_star
              .title89
                Article
                %strong star
              %a{:href => "http://preprod.rue89strasbourg.com/2012/07/12/un-event-10055", :title => "Un event"}
                http://preprod.rue89strasbourg.com/wp-content/themes/gabarit
                %img.wpp-thumbnail{:height => "69", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/no_thumb.html", :width => "90"}/
              .category
                %strong.surtitle/
                %ul.post-categories
                  %li
                    %a{:href => "http://preprod.rue89strasbourg.com/category/culture", :rel => "category tag", :title => "Voir tous les articles dans Culture"} Culture
              %a{:href => "http://preprod.rue89strasbourg.com/2012/07/12/un-event-10055", :rel => "bookmark", :title => "Un event"}
                Un event
              %ul.metas.stats.inline.clearfix
                %li Aucun commentaire pour l'instant.
          %li
            .block.article_star
              .title89
                Article
                %strong star
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/15/test-france-bleu-10028", :title => "test France bleu"}
                http://preprod.rue89strasbourg.com/wp-content/themes/gabarit
                %img.wpp-thumbnail{:height => "69", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/no_thumb.html", :width => "90"}/
              .category
                %strong.surtitle/
                %ul.post-categories
                  %li
                    %a{:href => "http://preprod.rue89strasbourg.com/category/politique", :rel => "category tag", :title => "Voir tous les articles dans Politique"} Politique
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/15/test-france-bleu-10028", :rel => "bookmark", :title => "test France bleu"}
                test France bleu
              %ul.metas.stats.inline.clearfix
                %li Aucun commentaire pour l'instant.
          %li
            .block.article_star
              .title89
                Article
                %strong star
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/13/test-graphiques-second-tour-10013", :title => "Test graphiques second tour"}
                http://preprod.rue89strasbourg.com/wp-content/themes/gabarit
                %img.wpp-thumbnail{:height => "69", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/no_thumb.html", :width => "90"}/
              .category
                %strong.surtitle/
                %ul.post-categories
                  %li
                    %a{:href => "http://preprod.rue89strasbourg.com/category/breve", :rel => "category tag", :title => "Voir tous les articles dans Brèves"} Brèves
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/13/test-graphiques-second-tour-10013", :rel => "bookmark", :title => "Test graphiques second tour"}
                Test graphiques second tour
              %ul.metas.stats.inline.clearfix
                %li Aucun commentaire pour l'instant.
          %li
            .block.article_star
              .title89
                Article
                %strong star
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/09/suivez-les-elections-legislatives-a-strasbourg-9976", :title => "Suivez les élections législatives à Strasbourg"}
                http://preprod.rue89strasbourg.com/wp-content/themes/gabarit
                %img.wpp-thumbnail{:height => "69", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/no_thumb.html", :width => "90"}/
              .category
                %strong.surtitle/
                %ul.post-categories
                  %li
                    %a{:href => "http://preprod.rue89strasbourg.com/category/politique", :rel => "category tag", :title => "Voir tous les articles dans Politique"} Politique
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/09/suivez-les-elections-legislatives-a-strasbourg-9976", :rel => "bookmark", :title => "Suivez les élections législatives à Strasbourg"}
                Suivez les élections législatives à Strasbourg
              %ul.metas.stats.inline.clearfix
                %li
                  %strong 1
                  commentaire
          %li
            .block.article_star
              .title89
                Article
                %strong star
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/07/in-girum-imus-nocte-9955", :title => "In girum imus nocte…"}
                %img.attachment-span4.wp-post-image{:alt => "Chemical Agents, Occupy Oakland Move In Day (30 of 31)", :height => "245", :src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/6782751111_36cdfa3a49_b.jpg", :title => "Chemical Agents, Occupy Oakland Move In Day (30 of 31)", :width => "370"}/
              .category
                %strong.surtitle/
                %ul.post-categories
                  %li
                    %a{:href => "http://preprod.rue89strasbourg.com/category/blogs/strasbourg_by_night", :rel => "category tag", :title => "Voir tous les articles dans Strasbourg de nuit"} Strasbourg de nuit
              %a{:href => "http://preprod.rue89strasbourg.com/2012/06/07/in-girum-imus-nocte-9955", :rel => "bookmark", :title => "In girum imus nocte…"}
                In girum imus nocte…
              %ul.metas.stats.inline.clearfix
                %li
                  %strong 11
                  visites
                %li
                  %strong 3
                  commentaires
    / FIN ROTATIVE
    .pub_300_250
      %img{:src => "Rue89%20Strasbourg%20%7C%20Maintenant%20les%20Strasbourgeois%20ont%20leur%20m%C3%A9dia_fichiers/pub_300_250.png"}/
      %p Publicité
